<script type="text/x-handlebars" data-template-name="products">

    <div class="ui vertical sidebar menu show-sidebar">
        <a class="item close mobile-only" {{action 'hideSideBar'}}>
            <i class="close icon"></i>关闭
        </a>

        {{#link-to 'index' class="item" closeSideBar="true"}}
            <i class="home icon"></i> Keptrans凯思
        {{/link-to}}
        {{#each brandList}}
            <div class="item">
                <b>{{brand}}</b>

                <div class="menu">
                    {{#each categories}}
                        {{#link-to 'brand.category' brand category class="item"}}{{category}}{{/link-to}}
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>

    <div class="ui menu mobile-nav large">
        <a class="item" {{action 'showSideBar'}}>
            <i class="icon list"></i>
        </a>
    </div>

    <div class="blank-sidebar">

        {{outlet}}
    </div>

</script>

<script type="text/x-handlebars" data-template-name="products/index">
    <div class="ui secondary  menu">
        <div class="right menu">
            <div class="item">
                <div class="ui icon input">
                    {{input placeholder="品牌..." type="text" value=search}}
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="ui items stackable">
        {{#each product in model}}
            {{#link-to 'product' product tagName="div" class="item"}}
                <div class="image">
                    <img {{bind-attr src=product.cover}}>
                    <a class="star ui corner label">
                        <div class="text">凯思</div>
                    </a>
                </div>
            {{/link-to}}
        {{/each}}
    </div>
</script>

<script type="text/x-handlebars" data-template-name="brand">
    <div class="ui secondary  menu">
        <div class="right menu">
            <div class="item">
                <div class="ui icon input">
                    {{input placeholder="品牌..." type="text" value=search}}
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="ui items stackable">
        {{#each product in model}}
            {{#link-to 'product' product tagName="div" class="item"}}
                <div class="image">
                    <img {{bind-attr src=product.cover}}>
                    <a class="star ui corner label">
                        <div class="text">凯思</div>
                    </a>
                </div>
            {{/link-to}}
        {{/each}}
    </div>
</script>


<script type="text/x-handlebars" data-template-name="brand/category">
    <div class="ui secondary  menu">
        <div class="right menu">
            <div class="item">
                <div class="ui icon input">
                    {{input placeholder="品牌..." type="text" value=search}}
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="ui items stackable">
        {{#each product in model}}
            {{#link-to 'product' product tagName="div" class="item"}}
                <div class="image">
                    <img {{bind-attr src=product.cover}}>
                    <a class="star ui corner label">
                        <div class="text">凯思</div>
                    </a>
                </div>
            {{/link-to}}
        {{/each}}
    </div>
</script>